.about {
  padding: 50px 0;
}

.about__inner {
  display: flex;
}

.about__column {
  width: 50%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.about__row {
  margin-bottom: 30px;
}

.about__img {
  width: 100%;
}

.about__title, 
.about__subtitle {
  margin: 15px 0;

  text-transform: uppercase;
  color: $coal;
  font-weight: 700;
}

.about__title {
  font-size: 18px;
}

.about__subtitle {
  font-size: 13px;
}

.about__text {
  font-size: 15px;
}

.about__link {
  color: inherit;
  position: relative;

  &:after {
    content: "";
    display: block;

    width: 20px;
    height: 2px;

    background-color: $gray;

    position: absolute;
    top: 50%;
    left: 110%;
    z-index: 1;

    transform:translateY(-50%);
  }

  &:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;

    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;

    position: absolute;
    top: 6px;
    left: 55px;
    z-index: 1;
    transform: rotate(225deg);
  }

  &:hover {
    color: $turquoise; 
    text-decoration: none;
  }
}

.about__link:hover:before {
  border-color: $turquoise; 
}

.about__link:hover:after {
  background-color: $turquoise; 
}

/* Media */
/* Max-width: 1199px */
@media(max-width: 1199px) {
  .about__link {
    display: inline-block;

    &:before {
      top: 8px;
    }
  }
}

/* Max-width: 770px */
@media(max-width: 770px) {
  .about__title {
    font-size: 16px;
  }
  
  .about__subtitle {
    font-size: 11px;
  }

  .about__text {
    font-size: 13px;
  }

  .about__link:before {
    top: 6px;
    left: 50px;
  }
}

/* Max-width: 575px */
@media(max-width: 575px) {
  .about__inner {
    flex-wrap: wrap;
  }

  .about__column {
    width: 100%;
  }
}