.header {
  padding: 40px 0;

  &--home {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 10;
  }
}

.header__logo {
  font-size: 24px;
  text-transform: uppercase;
}

.header__logo-link {
  color: inherit;
  text-decoration: none;
  
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.header__logo-bold {
  font-weight: 700;
}

/* Media */
/* Max-width: 1200px */
@media(max-width:1200px) {
  .header__logo {
    font-size: 20px;
  }

  .header .col-xl-3 {
    flex: 0 0 18%;
  }
}

/* Media */
/* Max-width: 1199px */
@media(max-width: 1199px) {
  .header {
    display: none;
  }
}

