.navigation {
  display: flex;
}

.navigation__list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.navigation__item {
  margin-bottom: 10px;

  &--header {
    margin-bottom: 15px;

    text-transform: uppercase;
    font-weight: 700;
  }
}

.navigation__link {
  color: $gray;
  text-decoration: none;

  &:hover {
    color: $turquoise;
    text-decoration: none;
  }
}

/* Media */
/* Max-width: 1200px */
@media (max-width: 1200px) {
  .navigation {
    justify-content: center;
  }
}

/* Max-width: 770px */
@media (max-width: 770px) {
  .navigation__column {
    font-size: 13px;
  }
}

/* Max-width: 767px */
@media (max-width: 767px) {
  .navigation__column-grid {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .navigation__column {
    margin: 20px 0;
    padding: 0 20px;

    text-align: center;
    font-size: 18px;
  }
}

/* Max-width: 320px */
@media (max-width: 320px) {
  .navigation__column {
    font-size: 14px;
  }
}