<!-- Bottom-place -->
<div class="bottom-place">
  <div class="container  container--bottom-place">
    <!-- Row -->
    <div class="row  justify-content-center">
      <!-- Col -->
      <div class="col-xl-2  col-lg-2  col-md-2  col-sm-4  col-10  navigation__column-grid">
        <div class="navigation__column">
          <ul class="navigation__list">
            <li class="navigation__item  navigation__item--header">Information</li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">The brand</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Local stores</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Customer service</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Privacy & cookies</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Site map</a>
            </li>
          </ul>
        </div>
      </div> <!-- /.col -->
      <!-- Col -->
      <div class="col-xl-2  col-lg-2  col-md-2  col-sm-4  col-10  navigation__column-grid">
        <div class="navigation__column">
          <ul class="navigation__list">
            <li class="navigation__item  navigation__item--header">Why buy from us</li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Shipping & returns</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Secure shopping</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Testimonials</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Award winning</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Ethical trading</a>
            </li>
          </ul>
        </div>
      </div> <!-- /.col -->
      <!-- Col -->
      <div class="col-xl-2  col-lg-2  col-md-2  col-sm-4  col-10  navigation__column-grid">
        <div class="navigation__column">
          <ul class="navigation__list">
            <li class="navigation__item  navigation__item--header">Your account</li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Sign in</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Register</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">View cart</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">View your lookbook</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Track an order</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Update information</a>
            </li>
          </ul>
        </div>
      </div> <!-- /.col -->
      <!-- Col -->
      <div class="col-xl-2  col-lg-2  col-md-2  col-sm-6  col-10  navigation__column-grid">
        <div class="navigation__column">
          <ul class="navigation__list">
            <li class="navigation__item  navigation__item--header">Lookbook</li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Latest posts</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Men’s lookbook</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Women’s lookbook</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Lookbooks RSS feed</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">View your lookbook</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#">Delete your lookbook</a>
            </li>
          </ul>
        </div>
      </div> <!-- /.col -->
      <!-- Col -->
      <div class="col-xl-2  col-lg-2  col-md-2  col-sm-6  col-10  navigation__column-grid">
        <div class="navigation__column">
          <address class="address">
            <div class="address__item  address__item--header">contact details</div>
            <div class="address__item">Head Office: Avenue Fashion,
              180-182 Regent Street, London.</div>
            <div class="address__item">Telephone: 0123-456-789</div>
            <div class="address__item">Email: support@yourwebsite.com</div>
          </address>
        </div>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
    <!-- Row -->
    <div class="row">
      <!-- Col -->
      <div class="col-xl-6  col-md-6  col-10">
        <!-- Award -->
        <div class="award">
          <ul class="award__list">
            <li class="award__item  award__item--bold">award winner</li>
            <li class="award__item">fashion awards 2016</li>
          </ul>
        </div>
      </div>
      <!-- Col -->
      <div class="col-xl-6  col-md-6  col-10">
        <!-- Socials -->
        <div class="socials">
          <div class="socials__item">
            <a class="socials__link" href="">
              <svg class="socials__svg">
                <use xlink:href="#fb"></use>
              </svg>
            </a>
          </div>
          <div class="socials__item">
            <a class="socials__link" href="">
              <svg class="socials__svg">
                <use xlink:href="#tw"></use>
              </svg>
            </a>
          </div>
          <div class="socials__item">
            <a class="socials__link" href="">
              <svg class="socials__svg">
                <use xlink:href="#inst"></use>
              </svg>
            </a>
          </div>
          <div class="socials__item">
            <a class="socials__link" href="">
              <svg class="socials__svg">
                <use xlink:href="#pin"></use>
              </svg>
            </a>
          </div>
        </div>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.bottom-place -->





<!-- Footer -->
<footer class="footer">
  <div class="container  container--footer">
    <!-- Row -->
    <div class="row">
      <div class="col-xl-6  col-md-6  col-4">
        <div class="footer__copyright">© 2016 Avenue Fashion™</div>
      </div>
      <div class="col-xl-6  col-md-6  col-8">
        <div class="footer__design">
          <span class="footer__span">Design by RobbyDesigns.com</span class="footer__span"><span
            class="footer__span">Dev by Loremipsum.com</span>
        </div>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</footer> <!-- /.footer -->