<!-- Top-place -->
<div class="top-place">
  <div class="container">
    <div class="row">
      <div class="col-xl-2">
        <div class="currency">
          <label class="currency__label" for="currency__select">Currency:</label>
          <select class="currency__select" id="currency__select">
            <option class="currency__option">GBP</option>
            <option class="currency__option">USD</option>
            <option class="currency__option">EUR</option>
          </select>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="menu">
          <a class="menu__link" href="pages/register/register.html">Register</a>
          <a class="menu__link" href="pages/register/register.html">Sign In</a>
        </div>
      </div>
      <div class="col-xl-2 ">
        <div class="cart">
          <div class="cart__status">empty</div>
          <div class="cart__ico">
            <svg class="cart__svg">
              <use xlink:href="#cart"></use>
            </svg>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.top-place -->





<!-- Header -->
<header class="header  header--home">
  <div class="container">
    <!-- Row -->
    <div class="row  align-items-center">
      <!-- Col -->
      <div class="col-xl-3">
        <div class="header__logo">
          <span class="header__logo-bold">Avenue</span> Fashion
        </div>
      </div>
      <!-- Col -->
      <div class="col-xl-7">
        <!-- Nav -->
        <nav class="nav">
          <!-- Dropdown -->
          <div class="dropdown">
            <a class="nav__link" href="#">Mens</a>
            <div class="dropdown__content">
              <!-- Sub nav -->
              <div class="sub-nav">
                <div class="sub-nav__top">
                  <ul class="sub-nav__list  sub-nav__list--top">
                    <li class="sub-nav__item  sub-nav__item--header">Casuals</li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-casuals-jackets.html">Jackets</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-casuals-hoodies.html">Hoodies
                        & Sweatshirts</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-casuals-polo.html">Polo
                        Shirts</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-casuals-sportswear.html">Sportswear</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-casuals-trousers.html">Trousers
                        & Chinos</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-casuals-t-shirts.html">T-Shirts</a>
                    </li>
                  </ul>
                  <ul class="sub-nav__list  sub-nav__list--top">
                    <li class="sub-nav__item  sub-nav__item--header">Formal</li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-formal-jackets.html">Jackets</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-formal-shirts.html">Shirts</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-formal-suits.html">Suits</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/mens-formal-trousers.html">Trousers</a>
                    </li>
                  </ul>
                </div>
                <div class="sub-nav__bottom">
                  <ul class="sub-nav__list  sub-nav__list--bottom">
                    <li class="sub-nav__item  sub-nav__item--bottom  sub-nav__item--bold">
                      Autumn Sale!</li>
                    <li class="sub-nav__item  sub-nav__item--bottom">Up to 50% off</li>
                  </ul>
                </div>
              </div> <!-- /.sub-nav -->
            </div> <!-- /.dropdown__content -->
          </div> <!-- /.dropdown -->
          <!-- Dropdown -->
          <div class="dropdown">
            <a class="nav__link" href="#">Womens</a>
            <div class="dropdown__content">
              <!-- Sub nav -->
              <div class="sub-nav">
                <div class="sub-nav__top">
                  <ul class="sub-nav__list  sub-nav__list--top">
                    <li class="sub-nav__item  sub-nav__item--header">Casuals</li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-casuals-jackets.html">Jackets</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-casuals-skirts.html">Skirts</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-casuals-blouse.html">Blouse</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-casuals-sportswear.html">Sportswear</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-casuals-dress.html">Dress</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-casuals-coats.html">Coats</a>
                    </li>
                  </ul>
                  <ul class="sub-nav__list  sub-nav__list--top">
                    <li class="sub-nav__item  sub-nav__item--header">Formal</li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-formal-suits.html">Suits</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-formal-blazer.html">Blazer</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-formal-gown.html">Gown</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/product/womens-formal-pants.html">Pants</a>
                    </li>
                  </ul>
                </div>
                <div class="sub-nav__bottom">
                  <ul class="sub-nav__list  sub-nav__list--bottom">
                    <li class="sub-nav__item  sub-nav__item--bottom  sub-nav__item--bold">
                      Autumn Sale!</li>
                    <li class="sub-nav__item  sub-nav__item--bottom">Up to 50% off</li>
                  </ul>
                </div>
              </div> <!-- /.sub-nav -->
            </div> <!-- /.dropdown__content -->
          </div> <!-- /.dropdown -->
          <a class="nav__link  nav__link--special" href="pages/brand/brand.html">The brand</a>
          <a class="nav__link  nav__link--special" href="pages/stores/stores.html">Local stores</a>
          <!-- Dropdown -->
          <div class="dropdown">
            <a class="nav__link" href="#">Look book</a>
            <div class="dropdown__content">
              <!-- Sub nav -->
              <div class="sub-nav">
                <div class="sub-nav__top">
                  <ul class="sub-nav__list  sub-nav__list--top">
                    <li class="sub-nav__item  sub-nav__item--header">Our Lookbooks</li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="pages/lookbook/lookbook.html">Latest
                        Post(mixed)</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="#">Men`s Lookbook</a>
                    </li>
                    <li class="sub-nav__item">
                      <a class="sub-nav__link" href="#">Women`s Lookbook</a>
                    </li>
                  </ul>
                  <ul class="sub-nav__list  sub-nav__list--top">
                    <li class="sub-nav__item  sub-nav__item--header">Your Lookbook</li>
                    <li class="sub-nav__item">
                      <a href="#" class="sub-nav__link">View and Edit</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="#" class="sub-nav__link">Share</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="#" class="sub-nav__link">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="sub-nav__bottom">
                  <ul class="sub-nav__list  sub-nav__list--bottom">
                    <li class="sub-nav__item  sub-nav__item--bottom  sub-nav__item--bold">
                      Autumn Sale!</li>
                    <li class="sub-nav__item  sub-nav__item--bottom">Up to 50% off</li>
                  </ul>
                </div>
              </div> <!-- /.sub-nav -->
            </div> <!-- /.dropdown__content -->
          </div> <!-- /.dropdown -->
        </nav> <!-- /.nav -->
      </div> <!-- /.col -->
      <!-- Col -->
      <div class="col-xl-2">
        <!-- Search -->
        <div class="search">
          <form class="search__form" action="">
            <input class="search__input" type="text" placeholder="Search..">
            <button class="search__btn">
              <svg class="search__svg">
                <use xlink:href="#search"></use>
              </svg>
            </button>
          </form>
        </div> <!-- /.search -->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</header> <!-- /.header -->





<!-- Hamburger -->
<div class="hamburger">
  <div class="container">
    <!-- Row -->
    <div class="row align-items-center">
      <!-- Col -->
      <div class="col-md-1  col-1  hamburger-hide-element  hamburger__col-btn">
        <button class="hamburger__btn">
          <div class="hamburger__line">Line</div>
        </button>
      </div>
      <!-- Col -->
      <div class="col-1 hamburger__btn-show  hamburger-hide-element  hamburger__col-search">
        <button class="hamburger__search-btn" id="modal-open">
          <svg class="hamburger__svg">
            <use xlink:href="#search"></use>
          </svg>
        </button>
      </div>
      <!-- Col -->
      <div class="col-md-4  col-8  hamburger-hide-element  hamburger__col-logo">
        <div class="hamburger__logo"><span class="hamburger__logo-bold">Avenue</span> Fashion</div>
      </div>
      <!-- Col -->
      <div class="col-md-5  hamburger__form-hide  hamburger-hide-element">
        <form class="search__form" action="">
          <input class="search__input" type="text" placeholder="Search..">
          <button class="search__btn">
            <svg class="search__svg">
              <use xlink:href="#search"></use>
            </svg>
          </button>
        </form>
      </div>
      <!-- Col -->
      <div class="col-md-1  col-1  hamburger-hide-element  hamburger__col-register">
        <a class="hamburger__link" href="pages/register/register.html">
          <svg class="hamburger__svg">
            <use xlink:href="#user"></use>
          </svg>
        </a>
      </div>
      <!-- Col -->
      <div class="col-md-1  col-1  hamburger-hide-element  hamburger__col-cart">
        <a class="hamburger__link" href="#">
          <svg class="hamburger__svg">
            <use xlink:href="#cart"></use>
          </svg>
        </a>
      </div>
    </div> <!-- /.row -->
    <!-- Hamburger modal -->
    <div class="hamburger__modal">
      <div class="hamburger__modal-content">
        <form class="hamburger__form" action="">
          <button class="hamburger__button  hamburger__button--prev" id="modal-close">
            <svg class="hamburger__svg  hamburger__svg--modal">
              <use xlink:href="#arrow-left"></use>
            </svg>
          </button>
          <input class="hamburger__input" type="text" placeholder="Search.." autofocus>
          <button class="hamburger__button  hamburger__button--search">
            <svg class="hamburger__svg  hamburger__svg--modal">
              <use xlink:href="#search"></use>
            </svg>
          </button>
        </form>
      </div> <!-- /.hamburger__modal-content -->
    </div> <!-- /.hamburger__modal -->
  </div> <!-- /.container -->
  <!-- Hamburger menu -->
  <div class="hamburger__menu">
    <!-- Hamburger nav -->
    <nav class="hamburger__nav">
      <a class="hamburger__nav-link  picked" href="#" data-tab="men">Mens</a>
      <a class="hamburger__nav-link" href="#" data-tab="women">Womens</a>
      <a class="hamburger__nav-link" href="#" data-tab="lookbook">Lookbook</a>
      <a class="hamburger__nav-link" href="#" data-tab="currency">Currency</a>
    </nav>
    <!-- Hamburger content -->
    <div class="hamburger__content">
      <!-- Hamburger section -->
      <div class="hamburger__section  active" id="men">
        <ul class="hamburger__list">
          <li class="hamburger__item  hamburger__item--header">Casuals</li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-casuals-jackets.html">Jackets</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-casuals-hoodies.html">Hoodies
              & Sweatshirts</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-casuals-polo.html">Polo Shirts</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-casuals-sportswear.html">Sportswear</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-casuals-trousers.html">Trousers & Chinos</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-casuals-t-shirts.html">T-Shirts</a>
          </li>
        </ul>
        <ul class="hamburger__list">
          <li class="hamburger__item  hamburger__item--header">Formal</li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-formal-jackets.html">Jackets</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-formal-shirts.html">Shirts</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-formal-suits.html">Suits</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/mens-formal-trousers.html">Trousers</a>
          </li>
        </ul>
        <ul class="hamburger__list">
          <li class="hamburger__item  hamburger__item--header">
            <a class="hamburger__item-link" href="pages/brand/brand.html">The Brand</a>
          </li>
          <li class="hamburger__item  hamburger__item--header">
            <a class="hamburger__item-link" href="pages/stores/stores.html">Local Stores</a>
          </li>
        </ul>
      </div>
      <!-- Hamburger section -->
      <div class="hamburger__section" id="women">
        <ul class="hamburger__list">
          <li class="hamburger__item  hamburger__item--header">Casuals</li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-casuals-jackets.html">Jackets</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-casuals-skirts.html">Skirts</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-casuals-blouse.html">Blouse</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-casuals-sportswear.html">Sportswear</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-casuals-dress.html">Dress</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-casuals-coats.html">Coats</a>
          </li>
        </ul>
        <ul class="hamburger__list">
          <li class="hamburger__item  hamburger__item--header">Formal</li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-formal-suits.html">Suits</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-formal-blazer.html">Blazer</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-formal-gown.html">Gown</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/product/womens-formal-pants.html">Pants</a>
          </li>
        </ul>
        <ul class="hamburger__list">
          <li class="hamburger__item  hamburger__item--header">
            <a class="hamburger__item-link" href="pages/brand/brand.html">The Brand</a>
          </li>
          <li class="hamburger__item  hamburger__item--header">
            <a class="hamburger__item-link" href="pages/stores/stores.html">Local Stores</a>
          </li>
        </ul>
      </div>
      <!-- Hamburger section -->
      <div class="hamburger__section" id="lookbook">
        <ul class="hamburger__list">
          <li class="hamburger__item  hamburger__item--header">Our Lookbooks</li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="pages/lookbook/lookbook.html">Latest
              Post (mixed)</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="#">Men`s Lookbook</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="#">Women`s Lookbook</a>
          </li>
        </ul>
        <ul class="hamburger__list">
          <li class="hamburger__item  hamburger__item--header">Your Lookbook</li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="#">View and Edit</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="#">Share</a>
          </li>
          <li class="hamburger__item">
            <a class="hamburger__item-link" href="#">Delete</a>
          </li>
        </ul>
        <ul class="hamburger__list">
          <li class="hamburger__item  hamburger__item--header">
            <a class="hamburger__item-link" href="#">The Brand</a>
          </li>
          <li class="hamburger__item  hamburger__item--header">
            <a class="hamburger__item-link" href="#">Local Stores</a>
          </li>
        </ul>
      </div>
      <!-- Hamburger section -->
      <div class="hamburger__section" id="currency">
        <label class="hamburger__currency-label" for="hamburger__currency-select">Choose currency:</label>
        <select class="hamburger__currency-select" id="hamburger__currency-select">
          <option>GBP</option>
          <option>USD</option>
          <option>EUR</option>
        </select>
      </div> <!-- /.hamburger__section -->
    </div> <!-- /.hamburger__content -->
  </div> <!-- /.hamburger__menu -->
</div> <!-- /.hamburger -->





<!-- Scroll-top -->
<div class="scroll-top">
  <div class="scroll-top__inner">
    <svg class="scroll-top__svg">
      <use xlink:href="#arrow-up"></use>
    </svg>
  </div>
</div>