/*Fonts*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"),
      url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"),
      url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff") format("woff"),
      url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
}

/*Colors*/
$turquoise:#00c8c8;
$white: #fff;
$gray:#7e7e7e;
$gray-light:#f8f8f8;
$gray-medium:#e8e8e8;
$gray-dark:#727272;
$coal: #333;
$black: #000;
$yellow: #ffc107;

/*Path*/
$img-path: "../img/";
